<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mensualités</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding  class="mensualites">
    <ion-list *ngIf="datas">
        <ion-item>
            <ion-label floating >
                <ion-icon name="logo-euro"></ion-icon>
              Valeur du bien</ion-label>
             <ion-input [(ngModel)]="datas.montant" (keyup)="onKey('montant', montant.value)" #montant type="number"  required  ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating >
                <ion-icon name="logo-euro"></ion-icon>
              Apport</ion-label>
             <ion-input [(ngModel)]="datas.apport" (keyup)="onKey('apport', apport.value)" #apport type="number"    ></ion-input>
        </ion-item>
        <ion-item>

         <ion-label floating class="labelRange">Durée du prêt (en années)</ion-label>
         <ion-range min="2" max="30" pin="true" [(ngModel)]="datas.duree" #duree (ionChange)="onKey('duree', duree.value)">
           <ion-icon range-left small name="calendar"></ion-icon>
           <ion-icon range-right name="calendar"></ion-icon>
         </ion-range> 

        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="trending-up"></ion-icon>
                Taux d'intérêt (%)</ion-label>
            <ion-input [(ngModel)]="datas.interets" #interets (keyup)="onKey('interets', interets.value)" type="number" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="home"></ion-icon>
                Taux d'assurance (%)</ion-label>
            <ion-input [(ngModel)]="datas.assurance"  #assurance (keyup)="onKey('assurance', assurance.value)" type="number" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="briefcase"></ion-icon>
                Frais de dossier (€)</ion-label>
            <ion-input [(ngModel)]="datas.dossier"  #dossier (keyup)="onKey('dossier', dossier.value)" type="number"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label floating>
               <ion-icon name="calculator"></ion-icon>
               Frais de caution (€)</ion-label>
           <ion-input [(ngModel)]="datas.caution" disabled #caution  type="number" ></ion-input>
       </ion-item> 
        <ion-item>
           <ion-label floating>
               <ion-icon name="calculator"></ion-icon>
               Frais de notaire (€)</ion-label>
           <ion-input [(ngModel)]="datas.notaire"  #notaire (keyup)="onKey('notaire', notaire.value)" type="number" ></ion-input>
       </ion-item> 
   </ion-list>

<h5><b>Mensualités :</b></h5>

<div *ngIf="datas && datas.montant > 0 && datas.duree > 0 && datas.interets >  0">

Mensualités : <br>
<b>{{result || number}} €</b>
<!--  {{
   (assuranceMois +
(
(( (datas.montant-datas.apport) + r) * ((datas.interets/100)/12))
/(1-
(math.pow((1+((datas.interets/100)/12)),-(datas.duree*12)))
)
)
) | number:'.0-0'
}} €  -->
</div>

 <div *ngIf="montantAssurance">Le coût d'assurance de prêt sera de {{montantAssurance}} € soit {{assuranceMois}} € par mois</div>



</ion-content>
