<ion-navbar *navbar primary>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mensualités</ion-title>
</ion-navbar>
<ion-content padding class="mensualites">
{{datas}}e
    <ion-list >
        <ion-item>
            <ion-label floating >
                <ion-icon name="logo-euro"></ion-icon>
  
              Montant du prêt {{datas.mensualites}}</ion-label>
             <ion-input #montant type="number"  value=""></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <ion-icon name="calendar"></ion-icon>
                Durée du prêt (en années){{chiffre}}</ion-label>
            <ion-input  #duree  type="number" >{{chiffre}}</ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="trending-up"></ion-icon>
                Taux d'intérêt (%)</ion-label>
            <ion-input #interet type="number" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="home"></ion-icon>
                Taux d'assurance (%)</ion-label>
            <ion-input  type="number" min="7" max="36"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="briefcase"></ion-icon>
                Frais de dossier (€)</ion-label>
            <ion-input type="number" min="7" max="36"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="calculator"></ion-icon>
                Frais de caution (€)</ion-label>
            <ion-input type="number" min="7" max="36"></ion-input>
        </ion-item>
   </ion-list>

<h5><b>Mensualités :</b></h5>
<div *ngIf="montant.value"><!-- 
<div *ngIf="montant.value && duree.value && interet.value"> -->


    {{(montant.value * ((interet.value/100)/12))/(1-(math.pow((1+((interet.value/100)/12)),-(duree.value*12))))}}


</div>
</ion-content>
